# Botu çalıştırmadan önce cihazında bu değerleri tanımla.
GITHUB_TOKEN=
ADMIN_PASSWORD=
TG_BOT_TOKEN=
TG_CHAT_ID=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
AY_LIVE_API_KEY=
TG_CHANNEL=inadinatv2
INADINATV_APK_LINK=https://t.me/inadinatv2/227
FIREBASE_LIVESCORE_URL=https://iptvbotcoun-default-rtdb.firebaseio.com/extras/livescore.json
